.outline {
    text-shadow:
    -1px -1px 0 #AAA,
    1px -1px 0 #AAA,
    -1px 1px 0 #AAA,
    1px 1px 0 #AAA;  
}

.text-field {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    font-family: "Helvetica";
    font-size: 20pt;
}

.btn-main {
    text-align: center;
    background-color: rgba(126, 216, 123, 0.8);
    border-color: rgb(63, 108, 62);
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    font-family: "Helvetica";
    font-size: 16pt;
    color: rgb(27, 35, 89);
    overflow: hidden;
    display: table;
}

.btn-main:hover {
    background-color: rgba(126, 123, 216, 0.8);
    border-color: rgb(94, 62, 108);
    cursor: pointer;
}

.btn-sec {
    text-align: center;
    background-color: rgba(156, 246, 153, 0.8);
    border-color: rgb(93, 138, 92);
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    font-family: "Helvetica";
    font-size: 16pt;
    color: rgb(27, 35, 89);
    overflow: hidden;
    display: table;
}

.btn-main:hover {
    background-color: rgba(156, 153, 246, 0.8);
    border-color: rgb(124, 92, 138);
    cursor: pointer;
}