html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#quizBG {
    position: absolute;
    background-image: url(../img/globeBG.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#score {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-family: "Helvetica";
    font-size: 20pt;
}

#timer {
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: blue;
    opacity: 0.25;
    margin: 0;
    padding: 0;
}

#question {
    font-family: "Helvetica";
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
    color: #111111;
    position: absolute;
    width: 60%;
    left: 20%;
    top: 20%;
}

#answers {
    position: absolute;
    width: 70%;
    height: 40%;
    left: 15%;
    top: 40%;
}

#answers > * {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.answer {
    position: relative;
    text-align: center;
    background-color: rgba(126, 216, 123, 0.8);
    border-color: rgb(63, 108, 62);
    border-style: solid;
    border-radius: 15px 40px 15px 40px;
    font-family: "Helvetica";
    font-size: 18pt;
    color: rgb(27, 35, 89);
    height: 80%;
    width: 80%;
    left: 10%;
    overflow: hidden;
    
    display: table;
}

.answer > span {
    display: table-cell;
    vertical-align: middle;
}

.answer:hover {
    background-color: rgba(189, 216, 123, 0.8);
    border-color: rgb(94, 108, 62);
    cursor: pointer;
}

.outline {
    text-shadow:
    -1px -1px 0 #AAA,
    1px -1px 0 #AAA,
    -1px 1px 0 #AAA,
    1px 1px 0 #AAA;  
}