html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#starBG {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/starBG.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

#scoreTitle {
    position: absolute;
    height: 20%;
    width: 100%;
    top 20%;
    font-family: "Helvetica";
    text-align: center;
    font-weight: bold;
    font-size: 36pt;
}

#scoreboardHolder {
    text-align: center;
    position: absolute;
    top: 20%;
    width: 80%;
    height: 100%;
}

#back {
    position: absolute:
    left: 3%;
    top: 5%;
}

table {
    width: 100%;
    font-family: "Helvetica";
    font-size: 20pt;
    margin-left: 15%;
}

td {
    text-align: center;
}